version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: oauth_postgresql
    restart: always
    environment:
      POSTGRES_DB: oauth
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: